* {
    text-autospace: normal;
    font-family: '更纱黑体 SC', 'Sarasa Gothic SC', 'Sarasa Gothic JP', 'Inter', 'Roboto', '思源黑体', 'Source Han Sans SC', 'Noto Sans SC', 'Source Han Sans', 'Noto Sans CJK', 'Noto Sans JP', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'Microsoft YaHei', sans-serif;
}

#mainNavbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#pageContent {
    margin-top: 56px;
    margin-bottom: 16px;
}

.img-fit {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.link-hub-part {
    margin-top: 16px;
    margin-bottom: 16px;
}

.author-name {
    color: rgb(var(--bs-link-color-rgb));
}

.container-img-cover-sub {
    width: 240px;
    margin-left: 16px;
}

.container-img-link-icon {
    width: 40px;
    margin-right: 8px;
}

.bi-additional {
    font-size: 0.75em
}

.img-mono-fill-body-color {
    background-color: var(--bs-body-color);
}

.img-mono-x-twitter {
    mask: url(https://stevehsudrawing.github.io/resources/images/x-twitter.png) no-repeat center / contain;
}

.img-mono-github {
    mask: url(https://stevehsudrawing.github.io/resources/images/github.png) no-repeat center / contain;
}

.img-mono-patreon {
    mask: url(https://stevehsudrawing.github.io/resources/images/patreon.png) no-repeat center / contain;
}

/* Navbar adaption for mobile */
@media (max-width: 991.98px) {
    .navbar-collapse-scroll {
        max-height: calc(100vh - 58px);
        overflow-y: auto;
    }

    .navbar-nav {
        padding: 0.5rem 0;
    }

    .nav-item {
        width: 100%;
    }
}