html {
    text-autospace: normal;
    font-family: 'Sarasa Gothic SC', 'Inter', 'Roboto', 'Source Han Sans SC', 'Source Han Sans', 'Noto Sans SC', 'Noto Sans CJK', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'Microsoft YaHei', sans-serif;
}

#mainNavbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#pageContent {
    margin-top: 56px;
    margin-bottom: 16px;
}

.img-cover {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--bs-body-color);
    opacity: 0.5;
}

.link-hub-part {
    margin-top: 16px;
    margin-bottom: 16px;
}