* {
    text-autospace: normal;
    font-family: inherit !important;
}

html.lang-en {
    font-family: '更紗ゴシック J', 'Sarasa Gothic J', 'Inter', 'Roboto', '源ノ角ゴシック', 'Source Han Sans', 'Noto Sans CJK', 'Noto Sans JP', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'Helvetica', 'Arial', -apple-system, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

html.lang-zh-Hans {
    font-family: '更纱黑体 SC', 'Sarasa Gothic SC', '更紗ゴシック J', 'Sarasa Gothic J', 'Inter', 'Roboto', '思源黑体', 'Source Han Sans SC', 'Noto Sans SC', '源ノ角ゴシック', 'Source Han Sans', 'Noto Sans CJK', 'Noto Sans JP', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'Microsoft YaHei', 'Helvetica', 'Arial', -apple-system, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

html.lang-zh-Hant {
    font-family: '更紗黑體 TC', 'Sarasa Gothic SC', '更紗ゴシック J', 'Sarasa Gothic J', 'Inter', 'Roboto', '思源黑體', 'Source Han Sans TC', 'Noto Sans TC', '源ノ角ゴシック', 'Source Han Sans', 'Noto Sans CJK', 'Noto Sans JP', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'Microsoft JhengHei', 'Helvetica', 'Arial', -apple-system, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.navbar-bg-glass {
    background-color: rgba(var(--bs-tertiary-bg-rgb), 0.8);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* Navbar adaption for mobile */
@media (max-width: 991.98px) {
    .navbar-collapse-scroll {
        max-height: calc(100vh - 58px);
        overflow-y: auto;
    }

    .navbar-nav {
        padding: 0.5rem 0;
    }

    .nav-item {
        width: 100%;
    }
}

@supports not (backdrop-filter: blur(15px)) {
    .navbar-bg-glass {
        background-color: rgba(var(--bs-tertiary-bg-rgb), 1);
    }
}

#pageContent {
    margin-top: 56px;
    margin-bottom: 16px;
}

.img-fit {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.link-hub-part {
    margin-top: 16px;
    margin-bottom: 16px;
}

.author-name {
    color: rgb(var(--bs-link-color-rgb));
}

.container-img-cover-sub {
    width: 240px;
    margin-left: 16px;
}

.container-img-link-icon {
    width: 40px;
    margin-right: 8px;
}

.bi-additional {
    font-size: 0.75em
}

.img-mono-fill-body-color {
    background-color: var(--bs-body-color);
}

.img-mono-x-twitter {
    mask: url(https://stevehsudrawing.github.io/resources/images/x-twitter.png) no-repeat center / contain;
}

.img-mono-github {
    mask: url(https://stevehsudrawing.github.io/resources/images/github.png) no-repeat center / contain;
}

.img-mono-patreon {
    mask: url(https://stevehsudrawing.github.io/resources/images/patreon.png) no-repeat center / contain;
}