* {
    text-autospace: normal;
    font-family: '更纱黑体 SC', 'Sarasa Gothic SC', 'Inter', 'Roboto', '思源黑体', 'Source Han Sans SC', 'Noto Sans SC', 'Source Han Sans', 'Noto Sans CJK', 'Noto Sans JP', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'Microsoft YaHei', sans-serif;
}

#mainNavbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#pageContent {
    margin-top: 56px;
    margin-bottom: 16px;
}

.img-fit {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.link-hub-part {
    margin-top: 16px;
    margin-bottom: 16px;
}

.author-name {
    color: rgb(var(--bs-link-color-rgb));
}

.img-btn-outline-secondary {
    color: var(--bs-secondary-color);
}

.img-btn-outline-secondary:hover {
    color: var(--bs-white);
}

.container-img-cover-sub {
    width: 240px;
    margin-left: 16px;
}

.container-img-link-icon {
    width: 40px;
    margin-right: 8px;
}

.bi-additional {
    font-size: 0.75rem
}

.img-x-twitter {
    background-color: var(--bs-body-color);
    mask: url(https://stevehsudrawing.github.io/resources/images/x-twitter.png) no-repeat center / contain;
}

.img-github {
    background-color: var(--bs-body-color);
    mask: url(https://stevehsudrawing.github.io/resources/images/github.png) no-repeat center / contain;
}