/* Skip button is hidden in default */
#skipButton {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: 1100;
}

/* Show when using keyboard */
#skipButton:focus-visible,
html.user-input-keyboard #skipButton:focus {
    position: fixed;
    left: 0.5rem;
    top: 0.5rem;
    width: auto;
    height: auto;
    padding: 0.25rem 0.5rem;
    overflow: visible;
    clip: auto;
}