/* ========================================================================
   No-copy - Make it unselectable and undraggable
   ======================================================================== */

.no-copy {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
}